*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sansation', sans-serif;
}

.container{
    background-color: #3b3b3b;
    width:100%;
    max-width:365px;
    max-height: 812px;
    height:96%;
    border-radius:26px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

svg{
    position: relative;
    top:240px;
}
h1{
    position: relative;
    top: 245px;
}