* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    font-family: 'Sansation', sans-serif;
}

.container {
    height: 96%;
    max-height: 812px;
    width: 100%;
    max-width: 365px;
    background-color: #3b3b3b;
    border-radius: 25px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.fa-solid {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
    color: white;
    font-family: 'Cursive', sans-serif;
}

p {
    font-size: 14px;
    text-align: center;
    color: #c1c1c1;
    margin-top: 10px;
    margin-bottom: 60px;
}

.details {
    width: 90%;
    margin-top: 40px;
    width: 324px;
    height: 330px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px; 
}

label {
    font-size: 14px;
    font-weight: 300;
}

input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e58a66;
    font-size: 16px;
    padding: 5px 0;
    outline: none;
    color: white;
}

.terms {
    display: flex;
    align-items: center;
    margin: 15px 0;
    color: #c1c1c1;
}

.terms input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    appearance: none;

    background-color: transparent;
}

.terms input[type="checkbox"]:checked {
    background-color: #E58A66;
}

.footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #56595c;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.footer i {
    font-size: 25px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer i:hover {
    transform: scale(1.1);
    color: #e58a66;
}