*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-family: 'Sansation', sans-serif;
}

.container{
    background-color: #47494c;
    height: 96%;
    max-height: 812px;
    width:100%;
    max-width: 355px;
    border-radius:26px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    overflow: hidden;
    padding:20px;
}
h1{
    position: relative;
    top:40px;
}

.search{
    position:relative;
    top:65px;
}
label{
    font-size:15px;
}
input{
    outline: none;
    margin-top:0.6rem;
    width:100%;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #DB7750;
    color:white;
}
.upload-btn{
    position:relative;
    top:100px;
    left:59px;
    background-color: #414446;
    height: 112px;
    width:189.18px;
    border-radius:26px;
    box-shadow:2px 3px 4px rgba(0,0,0,0.6);
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

#up{
    margin-top:57px; 
    font-size: 12px;
    text-align: center;
}
#plus{
    margin-bottom:40px;
    font-size: 44px;
    color: white;
}
#quick{
    font-size:16px;
    position:relative;
    top:130px;
}
.features{
    position:relative;
    top:160px;
}
.features h3{
    font-size:1.6rem;
}
.features .box{
    width:317px;
    height:58px;
    background-color: #323232;
    border-radius:24px;
    margin-top:12px;
    border:1px solid #2F2F2F;
}
.one{
    position:relative;
    width: 26px;
    height: 26px;
    left:24px;
    top:16px;
}
.two{
    position: relative;
    width: 26px;
    height: 26px;
    left: 24px;
    top: 16px;
}
.three{
    position: relative;
    width: 32px;
    height: 32px;
    left: 22px;
    top: 13px;
}
.text{
    color:#B9B9B9;
    position: relative;
    top:-7px;
    left:95px;
    font-size:13px;
}
.last{
    color: #B9B9B9;
    position: relative;
    top: -14px;
    left: 95px;
    font-size: 13px;
}
.slide{
    position:relative;
    top:-30px;
    left:255px;
    width:36px;
    height:40px;
}

.slide-1{
    position: relative;
    top: -37px;
    left: 255px;
    width: 36px;
    height: 40px;
}

.fa-solid{
    text-decoration: none;
    position: relative;
    top:190px;
    left:131px;
    font-size:36px;
    color:white;
}