* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Sansation', sans-serif;
}

.container {
    background-color: #47494c;
    height: 96%;
    max-height: 812px;
    width: 100%;
    max-width: 355px;
    border-radius: 26px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-top:70px;
    font-weight: 900;
}
p{
    text-align: center;
    margin: 14px auto;
    font-size: 15px;
    color: #b2b3b5;
    line-height: 17px;
}
.otp{
    margin-top:70px;
    margin-left:5px;
}
.otp .number{
    margin:20px auto;
    height: 50px;
    width:47px;
    border:1px solid #B9B9B9;
    background-color: transparent;
    border-radius:8px;
    padding:2px;
    font-size: 22px;
    text-align: center;
    outline:none;
    color:#FF973F
}
.resend{
    margin-top:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resend a{
    color:#B9B9B9;
    text-decoration: none;
    font-size:13px;
    font-weight: 500;
}

.otp button{
    text-align: center;
    width:76%;
    margin:70px auto;
    display:block;
    color:white;
    background-color: #E7927F;
    border:none;
    padding:13px 20px;
    border-radius:18px;
    box-shadow: 2px 3px 4px #00000059;
    cursor: pointer;
}