<div class="container">
    <h1>Welcome!</h1>
    <p>Please provide <br>following details for <br>your account</p>
    <form class="credentials">
        <div class="inputs">
            <label for="email">Email</label><br>
            <input type="text" id="email" placeholder="example@gamil.com" name="email"><br>
        </div>
        <div class="inputs">
            <label for="password">Password</label><br>
            <input type="password" id="password" placeholder="Atleast 8 characters" name="password">
        </div>
        <a href="#">Forgot password?</a>
        <button>Sign in</button>
    </form>
    <p id="or">------------------ &nbsp;Or sign in with &nbsp; ------------------</p>
    <div class="btns">
        <button><i class="fa-brands fa-google"></i>Google</button>
        <button><i class="fa-brands fa-facebook"></i>Facebook</button>
    </div>
    <p id="signup">Dont have an account ? Sign Up</p>
</div>