<div class="container">
    <div class="content">
        <svg width="274" height="206" viewBox="0 0 274 206" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_37_2156)">
        <path opacity="0.15" d="M162.332 38.2979C200.845 53.6196 202.812 32.4485 213.108 29.983C237.605 24.1336 230.467 55.7707 236.608 66.3059C241.155 74.0989 246.836 81.1936 251.306 89.0306C255.777 96.8676 259.049 105.786 258.128 114.762C256.237 133.002 238.147 145.808 234.074 163.689C231.552 174.885 234.383 188.087 226.917 196.823C221.116 203.61 211.248 204.899 202.326 205.402C190.977 206.044 179.593 206.172 168.177 205.786C153.416 205.289 138.22 203.799 125.193 196.855C117.4 192.704 110.722 186.791 103.345 181.91C95.9679 177.03 87.3674 173.206 78.5715 174.048C73.9623 174.489 69.4855 176.206 64.8574 176.061C56.6605 175.803 49.8255 169.822 44.0876 163.935C30.0267 149.512 17.271 132.933 12.1952 113.46C8.48026 99.0838 9.13875 83.9302 14.0868 69.9288C17.0756 61.5383 22.7252 58.3495 27.9144 51.9277C32.9902 45.638 39.3145 41.0528 44.3083 34.6499C105.451 -43.4995 152.697 34.4927 162.332 38.2979Z" fill="#FF973F"/>
        <path d="M262.284 196.628H19.1439V39.4741C19.1439 38.9737 19.3432 38.4937 19.698 38.1399C20.0527 37.786 20.5338 37.5872 21.0355 37.5872C21.5372 37.5872 22.0183 37.786 22.3731 38.1399C22.7278 38.4937 22.9271 38.9737 22.9271 39.4741V192.855H262.284C262.786 192.855 263.267 193.053 263.621 193.407C263.976 193.761 264.176 194.241 264.176 194.741C264.176 195.242 263.976 195.722 263.621 196.076C263.267 196.43 262.786 196.628 262.284 196.628Z" fill="#FF973F"/>
        <path d="M262.284 196.628H19.1439V39.4741C19.1439 38.9737 19.3432 38.4937 19.698 38.1399C20.0527 37.786 20.5338 37.5872 21.0355 37.5872C21.5372 37.5872 22.0183 37.786 22.3731 38.1399C22.7278 38.4937 22.9271 38.9737 22.9271 39.4741V192.855H262.284C262.786 192.855 263.267 193.053 263.621 193.407C263.976 193.761 264.176 194.241 264.176 194.741C264.176 195.242 263.976 195.722 263.621 196.076C263.267 196.43 262.786 196.628 262.284 196.628Z" fill="url(#paint0_linear_37_2156)"/>
        <path d="M110.849 136.757C104.361 136.757 98.5848 133.153 93.3388 125.857C87.4244 117.636 82.7963 105.61 78.3258 93.9743C72.3357 78.401 66.1439 62.2994 57.3732 57.2676C51.1561 53.7014 45.0841 53.6259 39.321 57.0475C36.6025 58.6871 34.2314 60.8408 32.341 63.3875C32.2015 63.594 32.0225 63.7711 31.8144 63.9086C31.6063 64.0461 31.3731 64.1414 31.128 64.189C30.883 64.2366 30.631 64.2356 30.3863 64.186C30.1417 64.1364 29.9092 64.0393 29.7022 63.9001C29.4952 63.761 29.3177 63.5825 29.1798 63.3749C29.042 63.1673 28.9465 62.9346 28.8988 62.6902C28.851 62.4458 28.8521 62.1943 28.9017 61.9503C28.9514 61.7063 29.0488 61.4744 29.1883 61.2679C29.3081 61.0918 41.3955 43.7637 59.2333 53.997C69.1705 59.6955 75.3182 75.6901 81.8316 92.6283C90.8041 115.957 99.2784 137.996 116.511 131.933C135.011 125.423 145.402 105.598 154.576 88.106C161.096 75.665 166.727 64.9159 174.381 60.3056C191.74 49.8458 204.874 65.5071 213.556 75.8725C214.553 77.055 215.492 78.1746 216.387 79.1998C222.567 86.282 237.857 92.339 238.015 92.4082C238.252 92.4945 238.469 92.6273 238.654 92.7988C238.839 92.9703 238.988 93.177 239.091 93.4067C239.195 93.6364 239.251 93.8845 239.257 94.1363C239.263 94.3881 239.219 94.6385 239.126 94.8728C239.033 95.1071 238.895 95.3205 238.718 95.5005C238.541 95.6805 238.331 95.8234 238.098 95.9208C237.865 96.0182 237.615 96.0681 237.362 96.0676C237.11 96.0671 236.86 96.0162 236.628 95.9178C235.965 95.6599 220.322 89.4646 213.531 81.6842C212.611 80.6276 211.639 79.4954 210.656 78.3004C201.866 67.8092 190.92 54.7581 176.336 63.5448C169.596 67.6016 163.921 78.4073 157.924 89.842C148.435 107.95 137.672 128.473 117.772 135.48C115.554 136.295 113.212 136.727 110.849 136.757Z" fill="#FF973F"/>
        <g opacity="0.36">
        <path opacity="0.36" d="M110.849 136.757C104.361 136.757 98.5848 133.153 93.3388 125.857C87.4244 117.636 82.7963 105.61 78.3258 93.9743C72.3357 78.401 66.1439 62.2994 57.3732 57.2676C51.1561 53.7014 45.0841 53.6259 39.321 57.0475C36.6025 58.6871 34.2314 60.8408 32.341 63.3875C32.2015 63.594 32.0225 63.7711 31.8144 63.9086C31.6063 64.0461 31.3731 64.1414 31.128 64.189C30.883 64.2366 30.631 64.2356 30.3863 64.186C30.1417 64.1364 29.9092 64.0393 29.7022 63.9001C29.4952 63.761 29.3177 63.5825 29.1798 63.3749C29.042 63.1673 28.9465 62.9346 28.8988 62.6902C28.851 62.4458 28.8521 62.1943 28.9017 61.9503C28.9514 61.7063 29.0488 61.4744 29.1883 61.2679C29.3081 61.0918 41.3955 43.7637 59.2333 53.997C69.1705 59.6955 75.3182 75.6901 81.8316 92.6283C90.8041 115.957 99.2784 137.996 116.511 131.933C135.011 125.423 145.402 105.598 154.576 88.106C161.096 75.665 166.727 64.9159 174.381 60.3056C191.74 49.8458 204.874 65.5071 213.556 75.8725C214.553 77.055 215.492 78.1746 216.387 79.1998C222.567 86.282 237.857 92.339 238.015 92.4082C238.252 92.4945 238.469 92.6273 238.654 92.7988C238.839 92.9703 238.988 93.177 239.091 93.4067C239.195 93.6364 239.251 93.8845 239.257 94.1363C239.263 94.3881 239.219 94.6385 239.126 94.8728C239.033 95.1071 238.895 95.3205 238.718 95.5005C238.541 95.6805 238.331 95.8234 238.098 95.9208C237.865 96.0182 237.615 96.0681 237.362 96.0676C237.11 96.0671 236.86 96.0162 236.628 95.9178C235.965 95.6599 220.322 89.4646 213.531 81.6842C212.611 80.6276 211.639 79.4954 210.656 78.3004C201.866 67.8092 190.92 54.7581 176.336 63.5448C169.596 67.6016 163.921 78.4073 157.924 89.842C148.435 107.95 137.672 128.473 117.772 135.48C115.554 136.295 113.212 136.727 110.849 136.757Z" fill="url(#paint1_linear_37_2156)"/>
        </g>
        <path d="M236.817 178.696C236.917 183.206 237.075 186.043 237.321 186.288C237.365 186.338 237.176 186.382 236.76 186.42C235.959 186.502 234.332 186.565 231.987 186.628C219.452 186.936 186.506 186.955 150.749 186.86C125.736 186.798 99.3477 186.678 77.6069 186.565C49.8634 186.426 29.6864 186.288 29.6864 186.288V70.8471C29.6864 70.8471 39.5542 50.9402 56.0994 60.3999C75.1352 71.2937 80.8794 150.022 117.551 139.059C150.339 129.266 160.125 76.8978 177.559 65.6267C192.358 56.06 203.6 74.1932 212.812 84.1561C221.217 93.251 237.334 98.7419 237.334 98.7419C237.334 98.7419 237.025 117.888 236.836 138.279C236.691 153.575 236.627 169.564 236.817 178.696Z" fill="#FF973F"/>
        <path opacity="0.44" d="M237.321 138.455C237.321 138.455 237.006 158.047 236.817 178.709C236.817 181.282 236.779 183.867 236.76 186.433C224.862 187.609 29.7054 186.301 29.7054 186.301V110.598C29.7054 110.598 39.5543 90.6596 56.0995 100.119C75.1353 111.013 78.9879 173.627 115.66 162.67C148.447 152.877 160.125 116.611 177.559 105.34C192.358 95.7795 203.6 113.906 212.812 123.876C220.341 132.021 234.068 137.273 236.836 138.279L237.321 138.455Z" fill="url(#paint2_linear_37_2156)"/>
        <path opacity="0.44" d="M77.6196 186.565C49.8761 186.426 29.699 186.288 29.699 186.288V160.859C29.699 160.859 39.5543 140.952 56.0995 150.412C64.9269 155.475 70.5072 171.727 77.6196 186.565Z" fill="url(#paint3_linear_37_2156)"/>
        <path opacity="0.44" d="M232.018 186.628C219.483 186.936 186.538 186.955 150.78 186.86C160.749 174.539 168.36 161.588 177.578 155.632C192.377 146.072 203.619 164.199 212.831 174.168C218.147 179.923 226.533 184.238 232.018 186.628Z" fill="url(#paint4_linear_37_2156)"/>
        <path d="M63.6657 49.481L62.5623 53.7517C62.474 54.1039 61.0805 54.4625 61.1688 54.8147C61.6375 55.4655 62.1629 56.0737 62.7388 56.6324C67.947 62.746 72.8274 69.4885 74.6307 77.3003C74.685 77.8459 74.9467 78.3501 75.3621 78.7092C75.7829 78.9087 76.2609 78.9533 76.7115 78.835C80.2028 78.3026 83.5456 77.054 86.5289 75.1681C86.9374 74.9451 87.2924 74.636 87.5692 74.2624C88.1115 73.4259 87.8278 72.3189 87.5062 71.3754C86.3769 67.9973 85.0419 64.6912 83.5086 61.4755C82.9695 60.4785 82.5464 59.4234 82.2475 58.3306C82.0141 56.9196 82.0013 55.4811 82.2097 54.0662L82.5628 50.2924C82.613 49.9872 82.5892 49.6745 82.4935 49.3804C82.3756 49.1529 82.2125 48.9517 82.0143 48.7891L78.8616 45.8015L76.5223 51.6069C76.3204 52.2441 75.9629 52.8212 75.4819 53.2863C74.2209 54.2989 71.0682 54.3492 69.5045 53.9153C67.2724 53.2611 65.2547 51.0031 63.6657 49.481Z" fill="#FF973F"/>
        <path d="M63.6657 49.481L62.5623 53.7517C62.474 54.1039 61.0805 54.4625 61.1688 54.8147C61.6375 55.4655 62.1629 56.0737 62.7388 56.6324C67.947 62.746 72.8274 69.4885 74.6307 77.3003C74.685 77.8459 74.9467 78.3501 75.3621 78.7092C75.7829 78.9087 76.2609 78.9533 76.7115 78.835C80.2028 78.3026 83.5456 77.054 86.5289 75.1681C86.9374 74.9451 87.2924 74.636 87.5692 74.2624C88.1115 73.4259 87.8278 72.3189 87.5062 71.3754C86.3769 67.9973 85.0419 64.6912 83.5086 61.4755C82.9695 60.4785 82.5464 59.4234 82.2475 58.3306C82.0141 56.9196 82.0013 55.4811 82.2097 54.0662L82.5628 50.2924C82.613 49.9872 82.5892 49.6745 82.4935 49.3804C82.3756 49.1529 82.2125 48.9517 82.0143 48.7891L78.8616 45.8015L76.5223 51.6069C76.3204 52.2441 75.9629 52.8212 75.4819 53.2863C74.2209 54.2989 71.0682 54.3492 69.5045 53.9153C67.2724 53.2611 65.2547 51.0031 63.6657 49.481Z" fill="url(#paint5_linear_37_2156)"/>
        <path opacity="0.36" d="M77.3043 51.1352C77.0599 51.3265 76.7849 51.4753 76.4909 51.5755C77.2728 49.6383 78.0525 47.7052 78.8302 45.7764L79.549 46.4557L78.3384 49.4558C78.1412 50.0937 77.7855 50.6714 77.3043 51.1352Z" fill="url(#paint6_linear_37_2156)"/>
        <path opacity="0.36" d="M87.853 73.363C87.8328 73.6822 87.7331 73.9913 87.563 74.2624C87.2862 74.636 86.9312 74.9451 86.5226 75.1681C83.5393 77.054 80.1965 78.3026 76.7052 78.835C76.2546 78.9533 75.7766 78.9087 75.3558 78.7092C74.9405 78.3501 74.6787 77.8459 74.6244 77.3003C72.7959 69.4885 67.9408 62.746 62.7389 56.6324C62.1597 56.0768 61.6341 55.4682 61.1688 54.8147C61.0806 54.4624 62.4677 54.1039 62.5623 53.7517C62.7199 53.1227 62.8461 52.6447 62.9595 52.1856C62.9688 52.3542 62.9877 52.5222 63.0163 52.6887C63.4833 53.3409 64.0088 53.9493 64.5863 54.5065C69.7945 60.6201 74.6749 67.3689 76.4782 75.1744C76.528 75.7213 76.7906 76.2271 77.2096 76.5833C77.6304 76.7828 78.1084 76.8273 78.5589 76.7091C81.8458 76.2079 85.0029 75.0713 87.853 73.363Z" fill="url(#paint7_linear_37_2156)"/>
        <path d="M76.6612 46.8267C76.6749 48.3369 76.3833 49.8344 75.8036 51.2295C75.6523 51.544 75.2803 51.6698 74.9461 51.9151C74.7017 52.0929 74.5127 52.3362 74.4011 52.6167C74.2895 52.8972 74.2599 53.2035 74.3156 53.5001C74.353 53.748 74.4457 53.9844 74.5867 54.192C74.6688 54.2943 74.7202 54.4178 74.7347 54.5481C74.7492 54.6783 74.7263 54.8101 74.6687 54.9279C74.4299 55.2687 74.0809 55.5173 73.6803 55.6318C73.2796 55.7463 72.8516 55.7199 72.4681 55.5568C71.207 55.1103 70.4756 53.802 70.009 52.5441C69.4139 50.7999 69.0349 48.9897 68.8804 47.1538C68.7038 45.4996 70.2486 43.9398 71.743 43.4869C72.3959 43.2948 73.0854 43.262 73.7537 43.3912C74.4219 43.5203 75.0493 43.8077 75.5829 44.2291C76.058 44.588 76.4068 45.0879 76.5792 45.6569C76.6674 46.0402 76.6951 46.4349 76.6612 46.8267Z" fill="url(#paint8_linear_37_2156)"/>
        <path d="M63.546 49.9402C63.546 49.9402 52.7324 42.4995 52.5747 42.5246C52.4171 42.5498 52.5243 38.5936 52.5243 38.5936C52.5243 38.5936 51.4272 38.3797 51.4461 39.8075C51.3999 39.9394 51.3182 40.0561 51.2099 40.1448C51.1016 40.2334 50.9709 40.2906 50.8322 40.3101C50.6935 40.3296 50.5521 40.3106 50.4235 40.2553C50.2948 40.1999 50.184 40.1102 50.1031 39.9962L48.2745 37.4803C48.2745 37.4803 47.644 37.7319 47.6944 38.2099C47.9948 38.9924 48.3619 39.7479 48.7915 40.4679L46.591 38.7005C46.5004 38.7296 46.4166 38.7764 46.3445 38.8383C46.2724 38.9003 46.2134 38.9759 46.1711 39.061C46.1288 39.146 46.104 39.2385 46.0981 39.3333C46.0923 39.428 46.1055 39.5229 46.137 39.6125C46.3892 40.2729 48.0664 41.5623 48.0664 41.5623L45.6137 40.9711C45.5334 41.0523 45.4797 41.1558 45.4594 41.268C45.4392 41.3803 45.4534 41.496 45.5002 41.6C45.7019 41.946 47.8899 42.8077 47.8899 42.8077L46.2442 42.902C46.2098 42.9713 46.1896 43.0467 46.1846 43.1239C46.1797 43.201 46.1901 43.2784 46.2153 43.3515C46.2406 43.4246 46.28 43.492 46.3315 43.5498C46.383 43.6076 46.4455 43.6546 46.5153 43.6882C47.1476 43.869 47.7999 43.9704 48.4574 43.9901C48.4574 43.9901 50.1409 45.7324 51.0173 45.4556C51.2584 45.3725 51.5178 45.3573 51.767 45.4116C52.0161 45.466 52.2455 45.5879 52.4297 45.7638L61.8877 54.2234L62.5813 53.7266L63.546 49.9402Z" fill="url(#paint9_linear_37_2156)"/>
        <path d="M89.0448 30.7566C88.6371 31.2717 88.1669 31.7344 87.645 32.134C87.645 32.134 87.3046 34.5304 86.4344 34.8135C86.1947 34.8899 85.9801 35.0296 85.8136 35.2179C85.6471 35.4061 85.5348 35.6359 85.4886 35.8827L82.0333 48.7577L78.8806 45.7449C78.8806 45.7449 83.2944 33.3983 83.4205 33.3291C83.5466 33.2599 81.1569 30.1088 81.1569 30.1088C81.1569 30.1088 81.9198 29.2974 82.7458 30.4673C82.8605 30.545 82.9942 30.5901 83.1326 30.5977C83.271 30.6053 83.4089 30.5751 83.5314 30.5105C83.6539 30.4458 83.7564 30.3491 83.828 30.2306C83.8996 30.1122 83.9374 29.9766 83.9375 29.8383V26.6935C83.9375 26.6935 84.6185 26.5173 84.8392 26.9513C85.0512 27.7619 85.1946 28.5887 85.2679 29.4232L86.0183 26.706C86.1085 26.676 86.2038 26.6645 86.2986 26.6721C86.3933 26.6797 86.4856 26.7064 86.5698 26.7504C86.654 26.7945 86.7284 26.855 86.7886 26.9285C86.8487 27.0019 86.8934 27.0867 86.9199 27.1778C87.1028 27.8571 86.5038 29.8823 86.5038 29.8823L88.1432 27.9954C88.1432 27.9954 88.5845 28.0646 88.6224 28.4609C88.6602 28.8571 87.3613 30.8321 87.3613 30.8321L88.7485 29.9452C88.8232 29.977 88.8905 30.0236 88.9463 30.0824C89.0022 30.1411 89.0453 30.2107 89.0731 30.2868C89.1009 30.3629 89.1127 30.4438 89.1079 30.5246C89.103 30.6054 89.0815 30.6844 89.0448 30.7566Z" fill="url(#paint10_linear_37_2156)"/>
        <path d="M77.9915 43.0026C77.9437 43.4932 77.7417 43.9562 77.4145 44.3255C77.0873 44.6949 76.6515 44.9517 76.1693 45.0594C75.604 45.0557 75.0392 45.0935 74.4795 45.1726C74.284 45.2355 74.1074 45.3424 73.9057 45.399C73.6983 45.4407 73.486 45.4534 73.2751 45.4367C72.3726 45.3251 71.4565 45.4374 70.608 45.7638C70.48 45.8203 70.3692 45.9092 70.2864 46.0217C70.2147 46.1594 70.18 46.3132 70.1855 46.4682L70.0531 48.7703L69.5928 48.2545C69.5172 48.1727 69.391 48.0847 69.3154 48.1602C69.2831 48.1967 69.2652 48.2436 69.2649 48.2923C69.2177 48.5965 69.2177 48.9063 69.2649 49.2105C69.2862 49.3622 69.3415 49.5071 69.4266 49.6345C69.5118 49.7619 69.6246 49.8685 69.7568 49.9464C69.8114 49.9666 69.8594 50.0014 69.8955 50.0471C69.9116 50.1004 69.9116 50.1573 69.8955 50.2106L69.7378 51.7956C69.7378 51.7956 69.7378 51.8585 69.7378 51.8774C69.7378 51.8962 69.5739 51.8774 69.5172 51.8271C69.1377 51.3682 68.8817 50.8206 68.7731 50.2358C68.754 50.1369 68.7154 50.0429 68.6596 49.959C68.5838 49.8858 68.4991 49.8224 68.4074 49.7703C68.1175 49.5479 67.8985 49.2464 67.7769 48.9024C67.4842 48.3039 67.2722 47.6694 67.1463 47.0154C67.014 46.3517 67.1426 45.6625 67.5057 45.0908C67.564 45.0323 67.6035 44.9579 67.6192 44.8769C67.6152 44.7992 67.5982 44.7227 67.5688 44.6505C67.5209 44.4459 67.5376 44.2315 67.6166 44.0367C67.6956 43.8419 67.8331 43.6762 68.0102 43.5624C68.3692 43.3409 68.771 43.1974 69.1893 43.141C69.2416 42.8158 69.3654 42.5062 69.5518 42.2343C69.7382 41.9625 69.9826 41.7351 70.2675 41.5686C70.8466 41.2397 71.4939 41.0482 72.1591 41.0088C72.7518 40.9522 73.4202 40.9082 73.7733 40.3798C73.8491 40.2179 73.9443 40.0659 74.057 39.927C74.4668 39.5622 74.9902 39.971 75.3181 40.2603C75.4694 39.2099 76.5791 39.6942 77.052 40.1848C77.3989 40.5619 77.662 41.0079 77.8239 41.4935C77.9858 41.9791 78.043 42.4934 77.9915 43.0026Z" fill="black"/>
        <path d="M93.5278 106.724C90.6274 103.025 86.8883 98.2387 83.9942 94.5404C80.211 89.7225 76.3332 84.6781 75.0595 78.6966L87.563 74.2624C87.563 74.2624 96.794 80.5521 98.1181 81.6842C99.4422 82.8164 98.8306 85.4581 98.1181 87.2821C97.4056 89.1061 96.3652 92.2635 96.3652 92.2635L92.4055 91.3578L93.427 85.1436L85.6714 81.9987L91.7939 95.0247L96.8949 104.799L93.5278 106.724Z" fill="black"/>
        <path d="M96.0941 105.252L93.5278 106.723C90.6274 103.025 86.8883 98.2387 83.9942 94.5404C80.211 89.7225 76.3332 84.6781 75.0595 78.6966L77.8717 77.7029C79.1958 83.5774 83.0231 88.5463 86.7433 93.3013C89.587 96.9242 93.2315 101.591 96.0941 105.252Z" fill="url(#paint11_linear_37_2156)"/>
        <path d="M93.5279 91.6157L92.4056 91.3578L92.6641 89.7854L93.5279 91.6157Z" fill="black"/>
        <path opacity="0.44" d="M98.1181 87.2821C97.7524 88.2192 97.3048 89.496 96.958 90.5275C96.6112 91.5591 96.3716 92.2635 96.3716 92.2635L93.5279 91.6345L92.6703 89.7854L93.4333 85.1436L89.7951 83.6655L85.6777 81.9924L91.8002 95.0184L96.9012 104.793L96.1004 105.252C93.2378 101.591 89.5933 96.9242 86.7496 93.3013C83.0295 88.5463 79.1832 83.5774 77.878 77.7029L87.5693 74.2624C87.5693 74.2624 96.8003 80.5521 98.1244 81.6842C99.4486 82.8164 98.837 85.4392 98.1181 87.2821Z" fill="url(#paint12_linear_37_2156)"/>
        <path d="M93.5279 91.6157L92.4056 91.3578L92.6641 89.7854L93.5279 91.6157Z" fill="black"/>
        <path d="M92.9289 91.471L92.4434 93.7416L95.0916 94.3706L95.8294 92.144L92.9289 91.471Z" fill="url(#paint13_linear_37_2156)"/>
        <path d="M92.7902 96.9304L97.6327 97.7858C97.6327 97.7858 98.32 96.7606 97.6327 96.0813C96.8485 95.4322 96.004 94.8593 95.1106 94.3705L92.4686 93.7415L91.8381 94.9995L92.7902 96.9304Z" fill="black"/>
        <path d="M93.5279 106.723L95.8293 109.365L97.9416 108.044L96.3968 105.076L93.5279 106.723Z" fill="url(#paint14_linear_37_2156)"/>
        <path d="M95.7285 109.969L96.6743 112.026L103.106 108.837C103.106 108.837 103.421 107.617 102.349 107.529C100.86 107.506 99.3741 107.69 97.9354 108.076C97.9354 108.076 95.47 109.34 95.7285 109.969Z" fill="black"/>
        <path d="M74.3281 53.519C74.3655 53.7669 74.4582 54.0033 74.5992 54.2109C74.5992 54.2486 75.2297 54.9908 73.9182 55.5883C73.6723 55.7078 72.695 55.2738 72.0266 53.5756C71.7964 53.1088 71.686 52.5923 71.7051 52.0724C71.7051 51.934 71.7933 51.7705 71.9321 51.7579C71.9869 51.7576 72.041 51.7706 72.0897 51.7956C72.7566 52.0108 73.4583 52.0983 74.1578 52.0535C74.4161 51.9995 74.6771 51.9596 74.9397 51.934C74.6987 52.1141 74.5134 52.3583 74.4052 52.6387C74.2971 52.9191 74.2703 53.2242 74.3281 53.519Z" fill="url(#paint15_linear_37_2156)"/>
        <path d="M86.4155 34.8197C86.1757 34.8961 85.9612 35.0359 85.7947 35.2242C85.6281 35.4124 85.5158 35.6422 85.4697 35.889L82.0144 48.764L80.9046 47.701C80.9046 47.701 84.5491 35.977 84.9653 35.5619C85.3995 35.2288 85.8909 34.9773 86.4155 34.8197Z" fill="url(#paint16_linear_37_2156)"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear_37_2156" x1="151.379" y1="106.063" x2="32.0588" y2="242.359" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint1_linear_37_2156" x1="46077.8" y1="25111.1" x2="46143.9" y2="15844.1" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint2_linear_37_2156" x1="134.941" y1="81.9296" x2="132.011" y2="196.61" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="0.84" stop-color="white" stop-opacity="0.84"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint3_linear_37_2156" x1="4558.19" y1="11338.4" x2="4494.41" y2="14416" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="0.84" stop-color="white" stop-opacity="0.84"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint4_linear_37_2156" x1="25592.9" y1="10294.3" x2="25567" y2="12715.6" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="0.84" stop-color="white" stop-opacity="0.84"/>
        <stop offset="0.97" stop-color="white"/>
            </linearGradient>
        <linearGradient id="paint5_linear_37_2156" x1="3947.62" y1="5175.7" x2="950.377" y2="6530.46" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint6_linear_37_2156" x1="484.595" y1="872.322" x2="465.501" y2="876.905" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint7_linear_37_2156" x1="3478.59" y1="4501.17" x2="3180.33" y2="4676.43" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint8_linear_37_2156" x1="68.8804" y1="49.5313" x2="76.6738" y2="49.5313" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint9_linear_37_2156" x1="1494.36" y1="2366.12" x2="2014.43" y2="2366.12" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint10_linear_37_2156" x1="1440.67" y1="2814.3" x2="1606.78" y2="2814.3" gradientUnits="userSpaceOnUse">
            <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint11_linear_37_2156" x1="2747.92" y1="6252.42" x2="3449.64" y2="6252.42" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint12_linear_37_2156" x1="3387.19" y1="5742.52" x2="2722.51" y2="6927.87" gradientUnits="userSpaceOnUse">
        <stop stop-color="white" stop-opacity="0"/>
        <stop offset="0.84" stop-color="white" stop-opacity="0.84"/>
        <stop offset="0.97" stop-color="white"/>
        </linearGradient>
        <linearGradient id="paint13_linear_37_2156" x1="536.14" y1="519.85" x2="554.323" y2="519.85" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint14_linear_37_2156" x1="679.496" y1="836.318" x2="710.392" y2="836.318" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint15_linear_37_2156" x1="474.16" y1="626.293" x2="511.769" y2="777.317" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint16_linear_37_2156" x1="831.042" y1="1785.8" x2="1076.05" y2="1916.26" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <clipPath id="clip0_37_2156">
        <rect width="274" height="206" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <p> Simply scan the code, the process is streamlined</p>
        <div class="button">
            <form method="GET" action="/quickDocs/login">
                <button>Next</button>
            </form>
            <br>
            <form method="GET" action="/quickDocs/login">
                <button>Skip</button>
            </form>
        </div>
    </div>
</div>