<div class="container">
    <div class="content">
    <svg width="277" height="208" viewBox="0 0 277 208" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_37_2054)">
        <path opacity="0.18" d="M66.2338 44.4373C51.1378 52.4712 35.5837 60.8848 25.0617 74.3397C18.7428 82.4294 14.5326 92.0589 12.3156 102.079C8.518 119.181 11.3295 139.008 24.3938 150.77C28.9397 154.881 34.4997 157.783 40.2346 160.013C52.1222 164.626 64.8998 166.513 77.6196 165.535C88.0647 164.723 98.4923 161.981 108.885 163.287C121.561 164.876 132.629 172.262 144.438 177.126C159.111 183.146 175.089 185.317 190.845 183.431C194.817 182.951 198.838 182.181 202.332 180.237C206.479 177.927 209.553 174.154 212.822 170.705C220.194 162.898 228.89 156.448 238.51 151.651C243.556 149.136 248.903 147.049 253.285 143.509C264.824 134.207 266.8 117.561 266.129 102.8C265.457 88.0385 262.118 71.7442 250.26 62.7801C247.613 60.7803 244.633 59.23 242.067 57.1222C233.506 50.0917 230.947 38.323 225.464 28.7039C213.169 7.19426 185.736 -2.22275 161.037 0.438958C125.646 4.25384 96.66 28.2475 66.2338 44.4373Z" fill="#FF973F"/>
        <path d="M251.662 102.95C251.34 105.911 247.672 110.882 242.598 116.471C234.283 125.612 222.201 136.395 214.935 142.677C211.186 145.92 208.721 147.965 208.721 147.965V91.6861C208.721 91.6861 217.519 80.461 223.911 79.7398C230.303 79.0186 243.203 86.4672 243.203 86.4672C243.203 86.4672 252.739 92.6512 251.662 102.95Z" fill="#FF973F"/>
        <path d="M242.598 116.471C234.283 125.612 222.201 136.395 214.935 142.677C214.393 141.816 214.284 140.646 214.235 139.586C214.043 134.294 214.088 128.995 214.137 123.7C214.183 118.558 214.228 113.419 214.553 108.287C214.861 103.507 215.449 98.6191 217.645 94.3513C218.14 94.7927 218.549 95.3219 218.851 95.9121C221.617 100.647 223.365 105.869 225.114 111.053C225.979 113.608 226.844 116.173 227.709 118.749C229.647 117.687 231.379 116.289 232.824 114.621C234.153 113.154 235.339 111.569 236.559 110.015C237.412 108.928 239.077 105.834 240.406 106.998C242.56 108.869 242.735 113.151 242.598 116.471Z" fill="url(#paint0_linear_37_2054)"/>
        <path d="M215.179 17.5868H71.9512V182.853H215.179V17.5868Z" fill="#FF973F"/>
        <path d="M215.179 17.5868H71.9512V182.853H215.179V17.5868Z" fill="url(#paint1_linear_37_2054)"/>
        <path d="M195.495 25.5754L71.9512 36.6089C72.5072 36.6089 71.9512 21.2797 71.9512 17.5868H202.209V18.8828C202.209 20.6572 201.502 22.3589 200.243 23.6139C198.984 24.8689 197.276 25.5745 195.495 25.5754Z" fill="url(#paint2_linear_37_2054)"/>
        <path d="M215.179 36.609H71.9512V201.875H215.179V36.609Z" fill="#FF973F"/>
        <path d="M92.3134 36.609H71.9512V201.875H92.3134V36.609Z" fill="url(#paint3_linear_37_2054)"/>
        <path d="M104.685 67.4973H79.9449V92.146H104.685V67.4973Z" fill="white"/>
        <path d="M130.8 67.4973H106.06V92.146H130.8V67.4973Z" fill="white"/>
        <path d="M156.918 67.4973H132.178V92.146H156.918V67.4973Z" fill="white"/>
        <path d="M183.033 67.4973H158.292V92.146H183.033V67.4973Z" fill="white"/>
        <path d="M104.685 93.2295H79.9449V117.878H104.685V93.2295Z" fill="white"/>
        <path d="M130.8 93.2295H106.06V117.878H130.8V93.2295Z" fill="white"/>
        <path d="M156.918 93.2295H132.178V117.878H156.918V93.2295Z" fill="white"/>
        <path d="M183.033 93.2295H158.292V117.878H183.033V93.2295Z" fill="white"/>
        <path d="M104.685 118.962H79.9449V143.61H104.685V118.962Z" fill="white"/>
        <path d="M130.8 118.962H106.06V143.61H130.8V118.962Z" fill="white"/>
        <path d="M156.918 118.962H132.178V143.61H156.918V118.962Z" fill="white"/>
        <path d="M183.033 118.962H158.292V143.61H183.033V118.962Z" fill="white"/>
        <path d="M104.685 144.694H79.9449V169.343H104.685V144.694Z" fill="white"/>
        <path d="M130.8 144.694H106.06V169.343H130.8V144.694Z" fill="white"/>
        <path d="M156.918 144.694H132.178V169.343H156.918V144.694Z" fill="white"/>
        <path d="M183.033 144.694H158.292V169.343H183.033V144.694Z" fill="white"/>
        <path d="M104.685 170.426H79.9449V195.075H104.685V170.426Z" fill="white"/>
        <path d="M130.8 170.426H106.06V195.075H130.8V170.426Z" fill="white"/>
        <path d="M156.918 170.426H132.178V195.075H156.918V170.426Z" fill="white"/>
        <path d="M208.71 67.4973H183.97V92.146H208.71V67.4973Z" fill="white"/>
        <path d="M208.71 41.7652H183.97V66.4138H208.71V41.7652Z" fill="white"/>
        <path d="M183.033 41.7652H158.292V66.4138H183.033V41.7652Z" fill="white"/>
        <path d="M208.71 93.2295H183.97V117.878H208.71V93.2295Z" fill="white"/>
        <path d="M208.71 118.962H183.97V143.61H208.71V118.962Z" fill="white"/>
        <path d="M208.71 144.694H183.97V169.343H208.71V144.694Z" fill="white"/>
        <path d="M83.0467 10.9046V24.2689C83.0467 24.9901 83.9664 25.5754 85.0959 25.5754C86.2288 25.5754 87.145 24.9901 87.145 24.2689V10.9046C87.145 10.1835 86.2288 9.59818 85.0959 9.59818C83.9664 9.59818 83.0467 10.1835 83.0467 10.9046Z" fill="#FF973F"/>
        <path d="M102.636 10.9046V24.2689C102.636 24.9901 103.552 25.5754 104.685 25.5754C105.818 25.5754 106.735 24.9901 106.735 24.2689V10.9046C106.735 10.1835 105.818 9.59818 104.685 9.59818C103.552 9.59818 102.636 10.1835 102.636 10.9046Z" fill="#FF973F"/>
        <path d="M122.226 10.9046V24.2689C122.226 24.9901 123.142 25.5754 124.275 25.5754C125.408 25.5754 126.324 24.9901 126.324 24.2689V10.9046C126.324 10.1835 125.408 9.59818 124.275 9.59818C123.142 9.59818 122.226 10.1835 122.226 10.9046Z" fill="#FF973F"/>
        <path d="M141.815 10.9046V24.2689C141.815 24.9901 142.731 25.5754 143.864 25.5754C144.994 25.5754 145.913 24.9901 145.913 24.2689V10.9046C145.913 10.1835 144.994 9.59818 143.864 9.59818C142.731 9.59818 141.815 10.1835 141.815 10.9046Z" fill="#FF973F"/>
        <path d="M161.401 10.9046V24.2689C161.401 24.9901 162.321 25.5754 163.454 25.5754C164.583 25.5754 165.503 24.9901 165.503 24.2689V10.9046C165.503 10.1835 164.583 9.59818 163.454 9.59818C162.321 9.59818 161.401 10.1835 161.401 10.9046Z" fill="#FF973F"/>
            <path d="M180.99 10.9046V24.2689C180.99 24.9901 181.91 25.5754 183.04 25.5754C184.173 25.5754 185.092 24.9901 185.092 24.2689V10.9046C185.092 10.1835 184.173 9.59818 183.04 9.59818C181.91 9.59818 180.99 10.1835 180.99 10.9046Z" fill="#FF973F"/>
        <path d="M200.16 10.9046V24.2689C200.16 24.9901 201.08 25.5754 202.209 25.5754C203.342 25.5754 204.259 24.9901 204.259 24.2689V10.9046C204.259 10.1835 203.342 9.59818 202.209 9.59818C201.08 9.59818 200.16 10.1835 200.16 10.9046Z" fill="#FF973F"/>
        <path d="M218.442 17.5868H215.183V201.875H218.442V17.5868Z" fill="#FF973F"/>
        <path d="M218.442 17.5868H215.183V201.875H218.442V17.5868Z" fill="url(#paint4_linear_37_2054)"/>
        <path d="M164.006 45.3779C164.007 45.7659 163.892 46.1453 163.676 46.4682C163.461 46.7912 163.154 47.0431 162.794 47.1922C162.435 47.3413 162.039 47.3809 161.657 47.3059C161.275 47.2308 160.924 47.0447 160.648 46.7708C160.372 46.497 160.184 46.1478 160.107 45.7675C160.031 45.3872 160.069 44.9927 160.217 44.634C160.366 44.2754 160.617 43.9686 160.941 43.7525C161.264 43.5364 161.645 43.4207 162.034 43.42C162.556 43.42 163.056 43.626 163.426 43.993C163.796 44.36 164.004 44.858 164.006 45.3779Z" fill="url(#paint5_linear_37_2054)"/>
        <path d="M164.006 71.1136C164.007 71.5016 163.892 71.881 163.676 72.2039C163.461 72.5269 163.154 72.7788 162.794 72.9279C162.435 73.077 162.039 73.1166 161.657 73.0416C161.275 72.9665 160.924 72.7804 160.648 72.5065C160.372 72.2327 160.184 71.8835 160.107 71.5032C160.031 71.1228 160.069 70.7284 160.217 70.3697C160.366 70.0111 160.617 69.7043 160.941 69.4882C161.264 69.2721 161.645 69.1564 162.034 69.1557C162.556 69.1557 163.056 69.3617 163.426 69.7287C163.796 70.0957 164.004 70.5937 164.006 71.1136Z" fill="url(#paint6_linear_37_2054)"/>
        <path d="M168.814 71.1136C168.815 71.5016 168.7 71.881 168.485 72.2039C168.269 72.5269 167.962 72.7788 167.602 72.9279C167.243 73.077 166.847 73.1166 166.465 73.0416C166.083 72.9665 165.732 72.7804 165.456 72.5065C165.18 72.2327 164.992 71.8835 164.915 71.5032C164.839 71.1228 164.877 70.7284 165.025 70.3697C165.174 70.0111 165.426 69.7043 165.749 69.4882C166.072 69.2721 166.453 69.1564 166.842 69.1557C167.364 69.1557 167.865 69.3617 168.234 69.7287C168.604 70.0957 168.813 70.5937 168.814 71.1136Z" fill="url(#paint7_linear_37_2054)"/>
        <path d="M173.65 71.1136C173.651 71.5016 173.536 71.881 173.321 72.2039C173.105 72.5269 172.798 72.7788 172.438 72.9279C172.079 73.077 171.683 73.1166 171.301 73.0416C170.919 72.9665 170.568 72.7804 170.292 72.5065C170.016 72.2327 169.828 71.8835 169.752 71.5032C169.675 71.1228 169.713 70.7284 169.862 70.3697C170.01 70.0111 170.262 69.7043 170.585 69.4882C170.908 69.2721 171.289 69.1564 171.678 69.1557C172.2 69.1557 172.701 69.3617 173.07 69.7287C173.44 70.0957 173.649 70.5937 173.65 71.1136Z" fill="url(#paint8_linear_37_2054)"/>
        <path d="M164.006 122.947C164.006 123.335 163.891 123.714 163.674 124.037C163.458 124.36 163.151 124.611 162.791 124.759C162.431 124.908 162.035 124.947 161.653 124.871C161.271 124.795 160.921 124.609 160.645 124.334C160.37 124.06 160.182 123.71 160.106 123.33C160.031 122.949 160.07 122.555 160.219 122.197C160.368 121.838 160.62 121.532 160.944 121.316C161.267 121.101 161.648 120.986 162.037 120.986C162.559 120.986 163.058 121.192 163.427 121.559C163.796 121.926 164.003 122.424 164.003 122.944L164.006 122.947Z" fill="url(#paint9_linear_37_2054)"/>
        <path d="M84.0992 124.905C85.1846 124.905 86.0645 124.029 86.0645 122.947C86.0645 121.866 85.1846 120.989 84.0992 120.989C83.0138 120.989 82.134 121.866 82.134 122.947C82.134 124.029 83.0138 124.905 84.0992 124.905Z" fill="#FF2235"/>
        <path d="M168.814 122.947C168.814 123.335 168.699 123.714 168.483 124.037C168.266 124.36 167.959 124.611 167.599 124.759C167.239 124.908 166.843 124.947 166.461 124.871C166.08 124.795 165.729 124.609 165.453 124.334C165.178 124.06 164.991 123.71 164.915 123.33C164.839 122.949 164.878 122.555 165.027 122.197C165.176 121.838 165.428 121.532 165.752 121.316C166.076 121.101 166.456 120.986 166.846 120.986C167.367 120.986 167.867 121.192 168.235 121.559C168.604 121.926 168.811 122.424 168.811 122.944L168.814 122.947Z" fill="url(#paint10_linear_37_2054)"/>
        <path d="M173.65 122.947C173.65 123.335 173.535 123.714 173.319 124.037C173.102 124.36 172.795 124.611 172.435 124.759C172.075 124.908 171.68 124.947 171.298 124.871C170.916 124.795 170.565 124.609 170.29 124.334C170.014 124.06 169.827 123.71 169.751 123.33C169.675 122.949 169.714 122.555 169.863 122.197C170.012 121.838 170.264 121.532 170.588 121.316C170.912 121.101 171.292 120.986 171.682 120.986C172.203 120.986 172.703 121.192 173.071 121.559C173.44 121.926 173.647 122.424 173.647 122.944L173.65 122.947Z" fill="url(#paint11_linear_37_2054)"/>
        <path d="M251.428 70.2705C250.879 72.5072 251.613 75.6079 250.571 77.6599C248.823 81.109 243.71 83.3979 242.955 87.1849C242.909 87.4044 237.22 90.1358 234.286 89.2021C232.751 88.7178 231.971 87.2267 233.153 83.8543C233.524 82.8091 235.601 82.4189 236.16 81.4469L236.045 81.3598C233.206 79.2242 232.898 74.6986 233.485 71.678C234.073 68.6575 235.419 65.7554 236.863 62.9961C237.975 60.8709 240.486 59.7177 242.892 59.7561C245.917 59.8083 249.109 61.0138 250.683 63.5884C251.886 65.5498 251.973 68.0338 251.428 70.2705Z" fill="url(#paint12_linear_37_2054)"/>
        <path d="M237.454 54.0006C235.905 54.8159 234.258 55.7774 232.524 55.5161C232.479 55.9312 232.547 56.3506 232.72 56.7305C232.894 57.1105 233.166 57.4371 233.51 57.6762L232.433 57.9166C232.388 57.9197 232.345 57.9326 232.307 57.9543C232.268 57.976 232.235 58.0059 232.209 58.042C232.195 58.0809 232.191 58.1222 232.195 58.1631C232.199 58.204 232.212 58.2436 232.233 58.2789C232.499 58.8947 232.934 59.4227 233.489 59.8013C233.297 60.2125 232.601 60.1219 232.363 60.4981C232.313 60.6075 232.287 60.7263 232.287 60.8465C232.287 60.9667 232.313 61.0855 232.363 61.1949C232.603 61.8447 233.014 62.4185 233.552 62.8567C232.908 63.5535 233.31 64.8426 234.199 65.1596C234.655 65.2866 235.144 65.2351 235.563 65.0156C235.983 64.7961 236.303 64.4252 236.458 63.9786C236.497 64.3815 236.404 64.7864 236.192 65.1317C239.126 65.5916 242.262 66.0236 244.962 64.7833C244.836 65.0618 244.767 65.3627 244.759 65.6683C245.411 65.8715 246.102 65.9145 246.773 65.7937C246.913 67.2287 246.784 68.6771 246.392 70.065C246.151 70.929 245.805 71.7651 245.651 72.6465C245.45 73.5396 245.609 74.4757 246.095 75.2525C246.56 75.2107 246.889 74.7752 247.067 74.3467C247.196 73.9002 247.39 73.4751 247.644 73.0855C248.344 72.2703 249.798 72.5699 250.361 73.4722C250.924 74.3746 250.711 75.587 250.172 76.4963C249.839 77.0324 249.4 77.4946 248.88 77.8542C248.36 78.2138 247.772 78.4631 247.151 78.5866C247.253 79.5586 247.357 80.5306 247.459 81.4992C249.302 79.7572 251.365 78.2626 253.022 76.3569C254.68 74.4512 255.935 72.0125 255.722 69.4971C255.593 67.9467 254.914 66.473 254.862 64.9157C254.837 64.219 254.942 63.5047 254.914 62.801C254.849 61.6796 254.455 60.602 253.78 59.702C253.106 58.802 252.181 58.1194 251.12 57.7389C250.228 57.4358 249.246 57.3487 248.455 56.8365C247.473 56.2025 246.962 55.0214 245.987 54.3734C244.938 53.6766 243.308 53.391 242.088 53.046C240.5 52.6071 238.85 53.2725 237.454 54.0006Z" fill="#3F3D56"/>
        <path d="M215.456 86.9654C215.331 87.0416 215.223 87.143 215.14 87.263C215.057 87.383 215 87.519 214.973 87.6622C214.987 87.8123 215.049 87.9539 215.151 88.0658C215.252 88.1776 215.387 88.2536 215.536 88.2823C215.835 88.3347 216.142 88.3204 216.435 88.2405L218.211 87.8921C217.252 88.4263 216.456 89.2087 215.907 90.1567C215.842 90.266 215.81 90.3916 215.816 90.5184C215.822 90.6452 215.864 90.7677 215.938 90.8709C216.176 91.1705 216.578 91.052 216.9 90.9266L218.442 90.3135L217.393 91.3273C217.067 91.6196 216.782 91.9548 216.547 92.3237C216.445 92.4962 216.369 92.6829 216.323 92.8776C216.294 93.0004 216.314 93.1295 216.38 93.2375C216.445 93.3455 216.55 93.4239 216.672 93.456C216.752 93.4804 216.837 93.4804 216.917 93.456C217.558 93.2747 218.154 92.9613 218.666 92.5362C218.287 93.0663 217.865 93.564 217.403 94.0238C216.941 94.4872 216.68 95.1127 216.676 95.7658C216.678 95.836 216.701 95.904 216.742 95.9609C216.794 96.0127 216.862 96.0447 216.935 96.0515C217.505 96.1455 218.022 95.731 218.452 95.3547L220.036 93.9228C220.292 93.7145 220.516 93.4718 220.704 93.2016C220.809 93.0455 220.869 92.8633 220.876 92.6756C220.86 92.4918 220.771 92.3218 220.63 92.203C220.488 92.0841 220.305 92.026 220.12 92.0415C220.008 92.0525 219.901 92.0895 219.806 92.1495C219.851 91.8464 219.97 91.5642 220.043 91.2681C220.134 90.9762 220.114 90.6614 219.987 90.3831C219.919 90.2472 219.802 90.1419 219.66 90.0883C219.517 90.0347 219.359 90.0367 219.218 90.094C219.404 89.7313 219.522 89.3383 219.568 88.9338C219.586 88.7294 219.548 88.5239 219.458 88.3396C219.367 88.1554 219.227 87.9994 219.054 87.8887C218.959 87.8496 218.871 87.7942 218.795 87.7249C218.655 87.5542 218.767 87.3103 218.827 87.0978C218.872 86.9727 218.893 86.8398 218.887 86.7068C218.881 86.5737 218.849 86.4432 218.792 86.3225C218.736 86.2018 218.656 86.0934 218.558 86.0035C218.459 85.9135 218.344 85.8438 218.218 85.7983C218.077 85.7486 217.927 85.7296 217.777 85.7426C216.875 85.8366 216.123 86.401 215.456 86.9654Z" fill="url(#paint13_linear_37_2054)"/>
        <path d="M244.147 100.054C248.169 96.5148 253.148 99.1974 251.4 104.253C247.62 115.189 239.706 140.245 232.192 140.245C222.4 140.245 218.442 122.947 218.442 122.947L222.963 113.83C222.963 113.83 229.359 127.811 232.58 124.027C235.8 120.244 237.703 105.911 243.962 100.218L244.147 100.054Z" fill="#FF973F"/>
        <path d="M221.481 113.227C221.421 112.416 221.407 111.601 221.439 110.788C221.418 107.24 220.366 103.773 218.41 100.807C218.204 101.101 218.116 101.462 218.162 101.817L218.215 111.071C218.246 111.838 218.194 112.607 218.061 113.363C217.942 113.913 217.739 114.44 217.582 114.983C217.249 116.113 217.131 117.294 217.232 118.467C217.262 119.097 217.433 119.712 217.732 120.268C217.886 120.544 218.103 120.78 218.365 120.957C218.628 121.134 218.928 121.246 219.243 121.285C219.449 121.285 220.292 119.543 220.414 119.307C220.789 118.61 221.139 117.907 221.463 117.199C221.704 116.662 222.218 115.871 222.128 115.269C222.026 114.593 221.565 113.969 221.481 113.227Z" fill="url(#paint14_linear_37_2054)"/>
        <path d="M240.168 83.809C239.322 84.7566 238.482 85.7077 237.636 86.6588C236.99 87.4694 236.22 88.1746 235.356 88.7492C235.02 88.947 234.661 89.1015 234.286 89.2091C232.751 88.7248 231.971 87.2337 233.153 83.8612C233.524 82.8161 235.601 82.4259 236.16 81.4539L236.045 81.3668C236.447 81.5556 236.871 81.6937 237.307 81.7779C238.217 81.9137 240.455 81.21 240.731 82.5513C240.829 83.0147 240.5 83.4501 240.168 83.809Z" fill="url(#paint15_linear_37_2054)"/>
        <path d="M138.489 156.776L142.014 162.232C142.172 162.475 142.42 162.646 142.704 162.707C142.987 162.768 143.284 162.715 143.528 162.559C143.615 162.501 143.694 162.432 143.763 162.354L153.47 151.205C153.608 151.048 153.697 150.855 153.727 150.648C153.757 150.442 153.727 150.231 153.641 150.041C153.554 149.851 153.415 149.69 153.239 149.577C153.063 149.464 152.858 149.404 152.648 149.404H152.568C152.408 149.404 152.25 149.439 152.105 149.506C151.96 149.573 151.831 149.672 151.729 149.794L144.133 158.852C143.949 159.073 143.684 159.212 143.397 159.239C143.11 159.265 142.824 159.178 142.602 158.995C142.518 158.925 142.445 158.843 142.385 158.751L140.318 155.616C140.203 155.442 140.041 155.305 139.85 155.22C139.659 155.136 139.448 155.107 139.241 155.139C139.067 155.168 138.903 155.239 138.762 155.346C138.622 155.453 138.51 155.593 138.436 155.753C138.362 155.913 138.328 156.088 138.337 156.264C138.347 156.44 138.399 156.611 138.489 156.762V156.776Z" fill="#FF973F"/>
        <path d="M96.0481 184.365L100.486 188.717C100.642 188.87 100.748 189.066 100.792 189.28C100.836 189.494 100.815 189.716 100.732 189.918C100.649 190.12 100.507 190.293 100.325 190.415C100.143 190.537 99.9285 190.601 99.7093 190.601H99.5205C99.2272 190.601 98.9458 190.486 98.7372 190.281L94.4185 185.975C94.2108 185.769 93.9299 185.653 93.637 185.653C93.3441 185.653 93.0631 185.769 92.8554 185.975L88.5368 190.281C88.4343 190.383 88.3127 190.463 88.1789 190.518C88.0451 190.573 87.9018 190.602 87.757 190.601H87.5647C87.3454 190.601 87.1311 190.537 86.949 190.415C86.7669 190.293 86.6252 190.12 86.542 189.918C86.4587 189.716 86.4377 189.494 86.4816 189.28C86.5255 189.066 86.6323 188.87 86.7884 188.717L91.2294 184.365C91.4352 184.16 91.5509 183.882 91.5509 183.592C91.5509 183.302 91.4352 183.023 91.2294 182.818L86.7464 178.352C86.5925 178.198 86.4878 178.002 86.4454 177.789C86.403 177.576 86.4249 177.355 86.5083 177.154C86.5916 176.953 86.7328 176.782 86.9139 176.661C87.0951 176.54 87.3081 176.475 87.5262 176.474C87.8152 176.473 88.0929 176.586 88.299 176.788L92.8449 181.254C93.0516 181.456 93.3298 181.57 93.6195 181.57C93.9093 181.57 94.1874 181.456 94.3941 181.254L98.94 176.788C99.1461 176.586 99.4238 176.473 99.7128 176.474C99.9312 176.474 100.145 176.538 100.326 176.659C100.508 176.78 100.65 176.952 100.734 177.153C100.817 177.353 100.84 177.575 100.797 177.788C100.755 178.002 100.65 178.198 100.496 178.352L96.0131 182.818C95.81 183.026 95.6981 183.306 95.7021 183.596C95.706 183.886 95.8254 184.163 96.0341 184.365H96.0481Z" fill="#FF973F"/>
        <path d="M56.4741 170.684H57.5581L58.1001 195.092L57.5581 191.072H56.4741V170.684Z" fill="#FF973F"/>
        <path d="M57.558 179.582V179.61C57.558 180.373 57.2852 181.136 56.995 182.048C55.0857 182.599 53.8129 183.041 51.9385 181.111C50.0642 179.181 48.1305 175.45 48.7424 173.565C50.6517 173.015 54.3724 175.018 56.2502 176.948C57.2223 177.934 57.551 178.76 57.558 179.582Z" fill="#FF973F"/>
        <path d="M63.1495 181.125C61.429 182.787 60.2191 182.564 58.642 182.062V191.072H57.558V170.684H58.642V177.167C58.7434 177.056 58.8518 176.944 58.9707 176.819C60.908 174.952 64.6531 173.022 66.5449 173.635C67.1009 175.547 65.0867 179.254 63.1495 181.125Z" fill="#FF973F"/>
        <path d="M63.1495 181.125C61.429 182.787 60.2191 182.564 58.642 182.062V191.072H57.558V170.684H58.642V177.167C58.7434 177.056 58.8518 176.944 58.9707 176.819C60.908 174.952 64.6531 173.022 66.5449 173.635C67.1009 175.547 65.0867 179.254 63.1495 181.125Z" fill="url(#paint16_linear_37_2054)"/>
        <path d="M57.558 165.761H52.7183C52.7183 169.186 54.8829 171.962 57.5545 171.962L58.6945 168.921L57.558 165.761Z" fill="#FF973F"/>
        <path d="M57.6419 166.949L57.558 167.008V166.66L57.6419 166.949Z" fill="#FF973F"/>
        <path d="M48.3963 158.776C47.7843 160.661 49.7181 164.395 51.5959 166.322C53.4737 168.249 54.7431 167.813 56.6489 167.259C57.2608 165.374 57.7818 164.089 55.904 162.159C54.0262 160.229 50.3056 158.225 48.3963 158.776Z" fill="#FF973F"/>
        <path d="M62.8033 166.346C62.6425 166.503 62.4851 166.642 62.3312 166.768C61.9571 169.715 59.9604 171.962 57.558 171.962V167.008L57.6419 166.949L57.558 166.656V167.005C57.448 167.083 57.331 167.151 57.2083 167.207C55.4879 166.214 54.0961 163.054 54.208 160.368C54.3199 157.682 55.6767 153.71 57.4671 152.846C59.1876 153.839 60.3101 157.898 60.2086 160.587V160.786C62.1914 159.431 64.7546 158.393 66.2128 158.863C66.7548 160.772 64.7371 164.475 62.8033 166.346Z" fill="#FF973F"/>
        <path d="M62.8033 166.346C62.6425 166.503 62.4851 166.642 62.3312 166.768C61.9571 169.715 59.9604 171.962 57.558 171.962V167.008L57.6419 166.949L57.558 166.656V167.005C57.448 167.083 57.331 167.151 57.2083 167.207C55.4879 166.214 54.0961 163.054 54.208 160.368C54.3199 157.682 55.6767 153.71 57.4671 152.846C59.1876 153.839 60.3101 157.898 60.2086 160.587V160.786C62.1914 159.431 64.7546 158.393 66.2128 158.863C66.7548 160.772 64.7371 164.475 62.8033 166.346Z" fill="url(#paint17_linear_37_2054)"/>
        <path d="M57.6419 166.949L57.558 167.008V166.66L57.6419 166.949Z" fill="#FF973F"/>
        <path d="M47.9941 187.961L49.7006 201.701H57.593L60.8172 193.883L57.593 187.577L47.9941 187.961Z" fill="#FF973F"/>
        <path d="M67.1954 187.961L65.4889 201.701H57.593V187.577L67.1954 187.961Z" fill="#FF973F"/>
        <path d="M61.1109 187.671L61.0234 187.713L58.3448 189.037L57.614 189.406H46.9521C46.6302 189.406 46.3216 189.279 46.094 189.052C45.8665 188.826 45.7386 188.518 45.7386 188.197V185.125C45.7373 184.982 45.764 184.841 45.8174 184.709C45.8708 184.577 45.9497 184.457 46.0497 184.355C46.1497 184.254 46.2689 184.173 46.4003 184.117C46.5317 184.061 46.6729 184.032 46.8157 184.031H46.9171L57.614 184.052L61.1109 187.671Z" fill="#FF973F"/>
        <path d="M61.1109 187.671L61.0234 187.713L58.3448 189.037L57.614 189.406H46.9521C46.6302 189.406 46.3216 189.279 46.094 189.052C45.8665 188.826 45.7386 188.518 45.7386 188.197V185.125C45.7373 184.982 45.764 184.841 45.8174 184.709C45.8708 184.577 45.9497 184.457 46.0497 184.355C46.1497 184.254 46.2689 184.173 46.4003 184.117C46.5317 184.061 46.6729 184.032 46.8157 184.031H46.9171L57.614 184.052L61.1109 187.671Z" fill="url(#paint18_linear_37_2054)"/>
        <path d="M68.2375 189.406H57.593V183.916H68.2375C68.5593 183.916 68.8679 184.043 69.0955 184.27C69.3231 184.497 69.4509 184.804 69.4509 185.125V188.197C69.4509 188.518 69.3231 188.826 69.0955 189.052C68.8679 189.279 68.5593 189.406 68.2375 189.406Z" fill="#FF973F"/>
        <path d="M57.5965 189.406V201.701H49.7006L48.1725 189.406H57.5965Z" fill="url(#paint19_linear_37_2054)"/>
        <path d="M67.0171 189.406L65.4889 201.701H57.5965V189.406H67.0171Z" fill="url(#paint20_linear_37_2054)"/>
        <path d="M69.4509 185.264V188.337C69.4509 188.657 69.3231 188.965 69.0955 189.192C68.868 189.418 68.5593 189.546 68.2375 189.546H57.614V184.055H68.255C68.5738 184.06 68.8779 184.189 69.1017 184.415C69.3255 184.641 69.4509 184.946 69.4509 185.264Z" fill="url(#paint21_linear_37_2054)"/>
        <path opacity="0.18" d="M50.6203 201.718L30.5622 205.551C30.3933 205.552 30.2264 205.588 30.0721 205.657C29.9178 205.726 29.7793 205.825 29.6652 205.949C29.5511 206.074 29.464 206.22 29.4091 206.379C29.3543 206.538 29.3329 206.707 29.3464 206.875C29.3599 207.043 29.4079 207.206 29.4874 207.354C29.567 207.503 29.6764 207.634 29.8088 207.738C29.9413 207.843 30.0939 207.919 30.2572 207.962C30.4205 208.006 30.591 208.015 30.7581 207.99H30.8175H257.366C257.685 208.003 257.996 207.891 258.235 207.679C258.473 207.467 258.618 207.171 258.641 206.853C258.663 206.536 258.56 206.222 258.354 205.979C258.148 205.736 257.855 205.582 257.537 205.551L228.3 201.886H228.132L50.8755 201.712C50.7904 201.705 50.7049 201.707 50.6203 201.718Z" fill="#1D2741"/>
        </g>
        <defs>
        <linearGradient id="paint0_linear_37_2054" x1="233.674" y1="98.7515" x2="174.23" y2="211.022" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint1_linear_37_2054" x1="58193.9" y1="16641.7" x2="54569.4" y2="59773.5" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint2_linear_37_2054" x1="135.797" y1="7.30227" x2="137.362" y2="31.6277" gradientUnits="userSpaceOnUse">
        <stop offset="0.01"/>
        <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint3_linear_37_2054" x1="6324.59" y1="84646.4" x2="-5303.99" y2="84650.6" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint4_linear_37_2054" x1="2530.86" y1="54585.4" x2="1008.33" y2="54589.6" gradientUnits="userSpaceOnUse">
        <stop stop-opacity="0"/>
        <stop offset="0.91" stop-opacity="0.8"/>
        <stop offset="1"/>
        </linearGradient>
        <linearGradient id="paint5_linear_37_2054" x1="161.929" y1="43.7335" x2="162.582" y2="53.6735" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
        <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
        <linearGradient id="paint6_linear_37_2054" x1="1862.26" y1="1518.27" x2="1869.6" y2="1630.24" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
    <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
        <linearGradient id="paint7_linear_37_2054" x1="1921.22" y1="1518.27" x2="1928.53" y2="1630.24" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
            <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
        <linearGradient id="paint8_linear_37_2054" x1="1980.52" y1="1518.27" x2="1987.82" y2="1630.24" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
        <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
        <linearGradient id="paint9_linear_37_2054" x1="1862.22" y1="2153.7" x2="1869.57" y2="2265.66" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
        <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
            <linearGradient id="paint10_linear_37_2054" x1="1921.23" y1="2153.7" x2="1928.54" y2="2265.66" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
        <stop offset="1" stop-color="#1A7FC1"/>
        </linearGradient>
        <linearGradient id="paint11_linear_37_2054" x1="1980.52" y1="2153.7" x2="1987.82" y2="2265.66" gradientUnits="userSpaceOnUse">
        <stop stop-color="#183866"/>
        <stop offset="1" stop-color="#1A7FC1"/>
            /linearGradient>
        <linearGradient id="paint12_linear_37_2054" x1="256.642" y1="81.109" x2="224.212" y2="68.4157" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.16" stop-color="#EDCBD5"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="0.7" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint13_linear_37_2054" x1="214.973" y1="90.9022" x2="220.893" y2="90.9022" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint14_linear_37_2054" x1="3134.39" y1="10109.4" x2="3204.21" y2="10109.4" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint15_linear_37_2054" x1="5451.54" y1="3365.57" x2="5151.57" y2="3732.48" gradientUnits="userSpaceOnUse">
        <stop stop-color="#ECC4D7"/>
        <stop offset="0.42" stop-color="#EFD4D1"/>
        <stop offset="1" stop-color="#F2EAC9"/>
        </linearGradient>
        <linearGradient id="paint16_linear_37_2054" x1="59.8519" y1="191.957" x2="62.0042" y2="173.316" gradientUnits="userSpaceOnUse">
        <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint17_linear_37_2054" x1="2036.75" y1="2655.35" x2="1649.53" y2="2679.23" gradientUnits="userSpaceOnUse">
        <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint18_linear_37_2054" x1="53.7744" y1="163.793" x2="53.3926" y2="188.668" gradientUnits="userSpaceOnUse">
        <stop offset="0.36" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
            </linearGradient>
        <linearGradient id="paint19_linear_37_2054" x1="1179.81" y1="1047.09" x2="1197.93" y2="581.161" gradientUnits="userSpaceOnUse">
        <stop offset="0.01"/>
            <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint20_linear_37_2054" x1="1554.43" y1="979.589" x2="1214.36" y2="491.52" gradientUnits="userSpaceOnUse">
        <stop offset="0.01"/>
        <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <linearGradient id="paint21_linear_37_2054" x1="1954.6" y1="719.611" x2="1915.69" y2="429.908" gradientUnits="userSpaceOnUse">
        <stop offset="0.1" stop-opacity="0.77"/>
        <stop offset="0.99" stop-opacity="0"/>
        </linearGradient>
        <clipPath id="clip0_37_2054">
        <rect width="277" height="208" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <p>QuickDocs helps you streamline your <br> tasks</p>
        <div class="button">
            <form method="GET" action="/quickDocs/onboardingC">
                <button>Next</button>
            </form>
            <br>
            <form method="GET" action="/quickDocs/login">
                <button>Skip</button>
            </form>
        </div>
    </div>
</div>