<div class="container">
    <h1>Wallet</h1>
        <div class="search">
        <label for="card">Cards</label><br>
        <input id="card" placeholder="Search cards" name="card">
    </div>
    <div class="upload-btn">
        <p id="up">Upload file</p>
        <p id="plus">+</p>
    </div>
    <p id="quick">quickDocs </p>
    <div class="features">
        <h3>Features</h3>
        <div class="box">
            <svg class="one" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_37_2472)">
                    <path d="M23.1111 0.180557C23.8333 0.180557 24.4452 0.431329 24.9468 0.932872C25.4483 1.43442 25.6991 2.02624 25.6991 2.70834V23.2917C25.6991 23.9738 25.4483 24.5656 24.9468 25.0671C24.4452 25.5687 23.8333 25.8194 23.1111 25.8194H2.58796C1.86574 25.8194 1.25386 25.5687 0.752315 25.0671C0.250772 24.5656 0 23.9738 0 23.2917V2.70834C0 2.02624 0.250772 1.43442 0.752315 0.932872C1.25386 0.431329 1.86574 0.180557 2.58796 0.180557H23.1111ZM23.1111 23.2917V2.70834H2.58796V23.2917H23.1111ZM20.5231 5.2963V20.7037H5.11574V5.2963H10.2917V7.88426H7.7037V18.1157H17.9954V7.88426H14.1435V10.7732C14.9861 11.2546 15.4074 11.9969 15.4074 13C15.4074 13.7222 15.1566 14.3341 14.6551 14.8357C14.1535 15.3372 13.5517 15.588 12.8495 15.588C12.1474 15.588 11.5455 15.3372 11.044 14.8357C10.5424 14.3341 10.2917 13.7222 10.2917 13C10.2917 12.037 10.713 11.2948 11.5556 10.7732V7.88426C11.5556 7.16204 11.8063 6.55016 12.3079 6.04861C12.8094 5.54707 13.4213 5.2963 14.1435 5.2963H20.5231Z" fill="#B9B9B9"/>
                </g>
                <defs>
                <clipPath id="clip0_37_2472">
                <rect width="26" height="26" fill="white"/>
                </clipPath>
                </defs>
            </svg>
            <p class="text">My QR code </p>
            <svg class="slide" width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_37_2488)">
                    <rect x="4" y="5" width="27" height="7" rx="3.5" fill="#505050"/>
                </g>
            <g filter="url(#filter1_d_37_2488)">
                <circle cx="12" cy="8" r="8" fill="#505050"/>
            </g>
            <defs>
                <filter id="filter0_d_37_2488" x="0" y="5" width="35" height="15" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            <filter id="filter1_d_37_2488" x="0" y="0" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            </defs>
        </svg>
        </div>
        <div class="box">
            <svg class="two" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.975 16.8983C1.21061 16.8983 1.43824 16.9836 1.61581 17.1385C1.79338 17.2933 1.90886 17.5072 1.9409 17.7406L1.95 17.8732V22.4254L1.9591 22.5917C1.99716 22.9633 2.16207 23.3104 2.42608 23.5746C2.69008 23.8388 3.03706 24.004 3.4086 24.0424L3.575 24.0502H8.125L8.2576 24.0593C8.49097 24.0914 8.70482 24.2069 8.85962 24.3844C9.01442 24.562 9.0997 24.7896 9.0997 25.0251C9.0997 25.2606 9.01442 25.4882 8.85962 25.6658C8.70482 25.8433 8.49097 25.9588 8.2576 25.9909L8.125 26H3.575L3.3579 25.9935C2.48806 25.9408 1.66744 25.5722 1.05028 24.957C0.433127 24.3418 0.0619423 23.5224 0.00650015 22.6528L1.34582e-09 22.4254V17.8732L0.00909996 17.7406C0.0411428 17.5072 0.156625 17.2933 0.33419 17.1385C0.511755 16.9836 0.739391 16.8983 0.975 16.8983ZM25.025 16.8983C25.2606 16.8983 25.4882 16.9836 25.6658 17.1385C25.8434 17.2933 25.9589 17.5072 25.9909 17.7406L26 17.8732V22.4254C26 23.3356 25.6528 24.2116 25.029 24.8747C24.4053 25.5378 23.5521 25.9379 22.6434 25.9935L22.425 26H17.875C17.628 25.9999 17.3902 25.9061 17.2097 25.7375C17.0292 25.5688 16.9194 25.338 16.9026 25.0915C16.8857 24.8451 16.9631 24.6015 17.119 24.4099C17.2749 24.2183 17.4977 24.093 17.7424 24.0593L17.875 24.0502H22.425C22.8273 24.0504 23.2154 23.9013 23.5141 23.6319C23.8128 23.3625 24.001 22.9919 24.0422 22.5917L24.05 22.4254V17.8732C24.05 17.6147 24.1527 17.3667 24.3356 17.1839C24.5184 17.001 24.7664 16.8983 25.025 16.8983ZM13.3354 17.5482C13.5824 17.5483 13.8202 17.6422 14.0007 17.8108C14.1812 17.9794 14.291 18.2103 14.3078 18.4567C14.3247 18.7031 14.2473 18.9468 14.0914 19.1384C13.9355 19.33 13.7127 19.4553 13.468 19.489L13.3354 19.498H7.4789C7.23187 19.498 6.99408 19.4041 6.81357 19.2355C6.63307 19.0669 6.5233 18.836 6.50647 18.5896C6.48963 18.3432 6.56697 18.0995 6.72286 17.9079C6.87876 17.7163 7.10158 17.591 7.3463 17.5573L7.4789 17.5482H13.3354ZM18.5289 12.0238C18.7759 12.0239 19.0137 12.1177 19.1942 12.2863C19.3747 12.455 19.4845 12.6858 19.5013 12.9323C19.5182 13.1787 19.4408 13.4223 19.2849 13.6139C19.129 13.8055 18.9062 13.9308 18.6615 13.9645L18.5289 13.9736H7.4789C7.23187 13.9735 6.99408 13.8797 6.81357 13.7111C6.63307 13.5424 6.5233 13.3116 6.50647 13.0651C6.48963 12.8187 6.56697 12.5751 6.72286 12.3835C6.87876 12.1919 7.10158 12.0666 7.3463 12.0329L7.4789 12.0238H18.5289ZM8.125 0C8.37203 7.57078e-05 8.60982 0.0939085 8.79033 0.262538C8.97084 0.431168 9.0806 0.662022 9.09743 0.908453C9.11427 1.15488 9.03693 1.39852 8.88104 1.59013C8.72515 1.78174 8.50233 1.90704 8.2576 1.94071L8.125 1.94981H3.575C3.17293 1.94994 2.78518 2.09912 2.48672 2.3685C2.18826 2.63789 2.00027 3.00834 1.9591 3.40826L1.95 3.57464V8.12679C1.94992 8.37379 1.85608 8.61156 1.68744 8.79205C1.51879 8.97254 1.28791 9.08229 1.04146 9.09912C0.795 9.11596 0.551341 9.03863 0.359712 8.88275C0.168083 8.72687 0.0427718 8.50407 0.00909996 8.25937L1.34582e-09 8.12679V3.57464C-2.49688e-05 2.66415 0.34742 1.78796 0.971434 1.12488C1.59545 0.461792 2.449 0.0617912 3.3579 0.0064995L3.575 0H8.125ZM22.425 0L22.6434 0.0064995C23.513 0.0595384 24.3333 0.428272 24.9502 1.04342C25.5671 1.65857 25.9381 2.47779 25.9935 3.34716L26 3.57464V8.12679L25.9909 8.25937C25.9588 8.49272 25.8433 8.70654 25.6657 8.86133C25.4882 9.01612 25.2606 9.10139 25.025 9.10139C24.7894 9.10139 24.5618 9.01612 24.3843 8.86133C24.2067 8.70654 24.0912 8.49272 24.0591 8.25937L24.05 8.12679V3.57464L24.0422 3.40826C24.0041 3.03652 23.839 2.68927 23.5747 2.42504C23.3105 2.1608 22.9632 1.99572 22.5914 1.9576L22.425 1.94981H17.875L17.7424 1.94071C17.509 1.9086 17.2952 1.7931 17.1404 1.61556C16.9856 1.43802 16.9003 1.21044 16.9003 0.974903C16.9003 0.739362 16.9856 0.511786 17.1404 0.334245C17.2952 0.156704 17.509 0.0412048 17.7424 0.00909905L17.875 0H22.425ZM18.5289 6.49935C18.7759 6.49943 19.0137 6.59326 19.1942 6.76189C19.3747 6.93052 19.4845 7.16137 19.5013 7.4078C19.5182 7.65423 19.4408 7.89787 19.2849 8.08948C19.129 8.28109 18.9062 8.40639 18.6615 8.44006L18.5289 8.44915H13.0039H7.4789C7.23187 8.44908 6.99408 8.35525 6.81357 8.18662C6.63307 8.01799 6.5233 7.78713 6.50647 7.5407C6.48963 7.29427 6.56697 7.05063 6.72286 6.85903C6.87876 6.66742 7.10158 6.54212 7.3463 6.50845L7.4789 6.49935H18.5289Z" fill="#B9B9B9"/>
            </svg>
            <p class="text">Click and scan </p>
            <svg class="slide" width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_37_2488)">
                    <rect x="4" y="5" width="27" height="7" rx="3.5" fill="#505050"/>
                </g>
            <g filter="url(#filter1_d_37_2488)">
                <circle cx="12" cy="8" r="8" fill="#505050"/>
            </g>
            <defs>
                <filter id="filter0_d_37_2488" x="0" y="5" width="35" height="15" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            <filter id="filter1_d_37_2488" x="0" y="0" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            </defs>
        </svg>
        </div>
        <div class="box">
            <svg class="three" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 8H10.6667V10.6667H8V8Z" fill="#B9B9B9"/>
                <path d="M4 14.6667V4H14.6667V14.6667H4ZM6.66667 6.66667V12H12V6.66667H6.66667Z" fill="#B9B9B9"/>
                <path d="M17.3333 17.3333H21.3333V20H17.3333V17.3333Z" fill="#B9B9B9"/>
                <path d="M21.3333 20H23.9999V17.3333H27.9999V21.3333H23.9999V22.6667H25.3332V24H27.9999V28H25.3332V25.3333H22.6666V28H17.3333V22.6667H19.9999V25.3333H21.3333V20Z" fill="#B9B9B9"/>
                <path d="M23.9999 8H21.3333V10.6667H23.9999V8Z" fill="#B9B9B9"/>
                <path d="M17.3333 4V14.6667H27.9999V4H17.3333ZM25.3332 6.66667V12H19.9999V6.66667H25.3332Z" fill="#B9B9B9"/>
                <path d="M8 21.3333H10.6667V24H8V21.3333Z" fill="#B9B9B9"/>
                <path d="M4 28V17.3333H14.6667V28H4ZM6.66667 20V25.3333H12V20H6.66667Z" fill="#B9B9B9"/>
            </svg>
            <p class="last">Upload</p>
            <svg class="slide-1" width="35" height="24" viewBox="0 0 35 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_37_2488)">
                    <rect x="4" y="5" width="27" height="7" rx="3.5" fill="#505050"/>
                </g>
            <g filter="url(#filter1_d_37_2488)">
                <circle cx="12" cy="8" r="8" fill="#505050"/>
            </g>
            <defs>
                <filter id="filter0_d_37_2488" x="0" y="5" width="35" height="15" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            <filter id="filter1_d_37_2488" x="0" y="0" width="24" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_37_2488"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_37_2488" result="shape"/>
            </filter>
            </defs>
        </svg>
        </div>
    </div>
    <a href=#><i class="fa-solid fa-upload"></i></a>
</div>