<div class="container">
    <h1>Verification</h1>
    <p>A verification code is sent to<br> your email provided <br>example.m@gmail.com</p>
    <div class="otp">
        <form>
            <input  class="number" maxlength="1">
            <input class="number"  maxlength="1">
            <input  class="number"  maxlength="1">
            <input  class="number"  maxlength="1">
            <input  class="number"  maxlength="1">
            <input  class="number"  maxlength="1">

            <div class="resend">
                <a>Didn't get the SMS?</a>
                <a href="#">Resend</a>
            </div>
            <button>Verify Number</button>
        </form>
    </div>
</div>